body {
	font-family: open-sans, 'Helvetica', 'Arial', sans-serif;
	font-size: 16px;
	font-weight: 500;
	background: #F57B05;
	color: white;
}

form section h1 {
	text-transform: uppercase;
	font-weight: 900;
	font-size: 1.3em;
	margin: 0 0 0 -1em;
	padding: 0;
	cursor: pointer;
}

form section h1 span {
	width: 1em;
	height: 1.3em;
	text-align: center;
	display: inline-block;
	transition: all 0.4s ease;
}

form section {
	background: #1F6C8F;
	padding: 0.7em 2em 0.7em 3em;
	margin: -3px auto;
	border: solid white 3px;
	width: 30em;
}

form section.top-bottom {
	border-radius: 2em;
}

form section.top {
	border-radius: 2em 2em 0 0;
	padding-top: 1em;
}

form section.bottom {
	border-radius: 0 0 2em 2em;
	padding-bottom: 1em;
}

p {
	padding: 0.25em; 
	margin: 0;
}

input {
	background: none;
	box-shadow: none;
	border-radius: 0;
	font: inherit;
	color: inherit;
	border: none;
	cursor: pointer;
	margin-bottom: 0;
}

input[type="text"], input[type="tel"], input[type="email"],input[type="date"] {
	border-bottom: solid white 0.1em;
	width: 12em;
	cursor: text;
}


input[type="date"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


input[type="submit"] {
	background: white;
	color: #1F6C8F;
	font-size: 2em;
	font-weight: 900;
	text-transform: uppercase;
	width: 5em;
	border-radius: 0 0 0.7em 0.7em;
	margin: 0em 0 1em 12em;
	border: solid white 3px;
}

input[type="submit"]:hover {
	background: #F57B05;
	color: white;
}

label {
	font-size: 1em;
	font-weight: 700;
	font-style: italic;
	cursor: pointer;
}

form section h2 {
	font-size: 1em;
	font-weight: 700;
	text-transform: uppercase;
	padding: 0.5em 0 1em 3.25em;
	margin: 2em 0 -1em -3em;
	width: 31.6em;
	border-top: dashed white 0.2em;
}

.form-title {
	display: block;
	text-transform: uppercase;
	font-size: 2em;
	font-weight: 900;
	width: 15em;
	margin: 0 auto;
}

input.newline {
	display: block;
	width: 20em;
	margin-bottom: 0.3em;
}

::-webkit-input-placeholder {
	font-style: italic;
	font-weight: 500;
	color: #F57B05;
}

:-moz-placeholder { /* Firefox 18- */
	font-style: italic;
	font-weight: 500;
	color: #F57B05;
}

::-moz-placeholder {  /* Firefox 19+ */
	font-style: italic;
	font-weight: 500;
	color: #F57B05;
}

:-ms-input-placeholder {  
	font-style: italic;
	font-weight: 500;
	color: #F57B05;
}

p.info {
	font-style: italic;
	line-height: 1.3em;
}

.bottom-margin {
	margin-bottom: 1.3em;
}





form section p a {
	text-decoration: none;
	font-weight: 900;
	color: #F57B05;
}

form section p a:hover {
	color: white;
}

input.short {
	width: 5em;
	margin-bottom: 0em
}







noscript {
	font-style: italic;
	display: block;
	width: 27em;
	margin: 2em auto;
}
noscript a {
	color: white;
}

.top-margin {
	margin-top: 1.3em;
}

.tab-3em {
	display: inline-block;
	width: 3em;
}

.tab-1em {
	display: inline-block;
	width: 1em;
}

.tab-large {
	display: inline-block;
	width: 2.5em;
}

.tab-6em {
	display: inline-block;
	width: 6em;
}

.hidden {
	display: none;
}

label.simple {
	font-size: 1em;
	font-weight: 500;
	font-style: normal;
	margin-right: 1em;
}

.doubleckeck {
	margin-top: -1.5em;
}

.section-content {
	margin: 1em 0;
}

.turn {
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	text-align: center;
}

button {
	cursor: pointer;
}

button.next {
	background: white;
	border: solid white 0.2em;
	border-radius: 0.5em;
	box-shadow: none;
	color: #1F6C8F;
	font-family: inherit;
	font-size: 1em;
	font-weight: 700;
	text-transform: uppercase;
	margin: 1.5em 0 -1em 0;
	padding: 0.1em 1em;
}

button.next:hover {
	background: none;
	color: white;
}

i.status {
	display: inline-block;
	font-size: 1.4em;
	float: right;
}

/*** custom checkboxes ***/

input[type=checkbox], input[type=radio] { 
	visibility: hidden; 
	width:0; 
	overflow:hidden; 
	margin: 0; 
	padding: 0;
}
input[type=checkbox] + label:before, input[type=radio] + label:before {
  font-family: FontAwesome;
	font-style: normal;
	font-weight: 100;
  display: inline-block;
	width: 1.2em;
}
input[type=checkbox] + label:before { 
	content: "\f096"; 
}
input[type=radio] + label:before { 
	content: "\f10c"; 
}
input[type=checkbox]:checked + label:before { 
	content: "\f046"; 
}
input[type=radio]:checked + label:before { 
	content: "\f192"; 
}
label.description {
	cursor: default;
}
.float-right {
	display: inline-block;
	float: right;
}
main {
	width: 36em;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
}
