body {
	font-family: open-sans, 'Helvetica', 'Arial', sans-serif;
	font-size: 16px;
	font-weight: 500;
	background: #F57B05;
	color: white;
}

form section h1 {
	text-transform: uppercase;
	font-weight: 900;
	font-size: 1.3em;
	margin: 0 0 0 -0.65em;
}

form section {
	background: #1F6C8F;
	padding: 2em 2em 2em 3em;
	margin: -3px auto;
	border: solid white 3px;
	width: 30em;	
}

form section.top-bottom {
	border-radius: 2em;
}

form section.top {
	border-radius: 2em 2em 0 0;
}

form section.bottom {
	border-radius: 0 0 2em 2em;
}

p {
	padding: 0.25em; 
	margin: 0;
}

input {
	background: inherit;
	font: inherit;
	color: inherit;
	border: none;
}

input[type="text"], input[type="tel"], input[type="email"] {
	border-bottom: solid white 0.1em;
	width: 10em;
}

input[type="date"] {
	background: none;
	border-bottom: solid white 0.1em;
	width: 10em;
}

input[type="radio"] {
	background: none;
}
input[type="submit"] {
	background: white;
	color: #1F6C8F;
	font-size: 2em;
	font-weight: 900;
	text-transform: uppercase;
	width: 5em;
	border-radius: 0 0 0.7em 0.7em;
	margin: 0em 0 1em 15em;
	border: solid white 3px;
}

input[type="submit"]:hover {
	background: #F57B05;
	color: white;
}

label {
	font-size: 1em;
	font-weight: 700;
	font-style: italic;
}

form section h2 {
	font-size: 1em;
	font-weight: 700;
	text-transform: uppercase;
	padding: 0.5em 0 1em 3.25em;
	margin: 2em 0 -1em -3em;
	width: 31.6em;
	border-top: dashed white 0.2em;
}

.form-title {
	display: block;
	text-transform: uppercase;
	font-size: 2em;
	font-weight: 900;
	width: 15em;
	margin: 0 auto;
}

input.newline {
	display: block;
	width: 20em;
}

::-webkit-input-placeholder {
	font-style: italic;
	font-weight: 500;
	color: #F57B05;
}

:-moz-placeholder { /* Firefox 18- */
	font-style: italic;
	font-weight: 500;
	color: #F57B05;
}

::-moz-placeholder {  /* Firefox 19+ */
	font-style: italic;
	font-weight: 500;
	color: #F57B05;
}

:-ms-input-placeholder {  
	font-style: italic;
	font-weight: 500;
	color: #F57B05;
}

p.info {
	font-style: italic;
	line-height: 1.3em;
}

.bottom-margin {
	margin-bottom: 1.3em;
}





form section p a {
	text-decoration: none;
	font-weight: 900;
	color: #F57B05;
}

form section p a:hover {
	color: white;
}

input.short {
	width: 5em;
}







noscript {
	font-style: italic;
	display: block;
	width: 27em;
	margin: 2em auto;
}
noscript a {
	color: white;
}

.top-margin {
	margin-top: 1.3em;
}

.tab-3em {
	display: inline-block;
	width: 3em;
}

.tab-1em {
	display: inline-block;
	width: 1em;
}

.tab-large {
	display: inline-block;
	width: 4.5em;
}

.tab-6em {
	display: inline-block;
	width: 6em;
}

.hidden {
	display: none;
}

label.simple {
	font-size: 1em;
	font-weight: 500;
	font-style: normal;
}

.doubleckeck {
	margin-top: -1.5em;
}
