body {
	position: absolute;
	font-family: open-sans, 'Helvetica', 'Arial', sans-serif;
	font-size: 16px;
	font-weight: 500;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #3881a7;
	color: white;
}

header {
	background: #f6891f;
	margin: 0;
	padding: 0.5em 0 ;
	position: relative;
	z-index: 3;
	box-shadow: rgba(0,0,0,0.3) 0 0 5px 5px;
}

nav ul {
	list-style-type: none;
	width: 95%;
	margin: 0 auto;
	text-align: center;
}

nav ul li {
	display: inline-block;
	padding: 0 1.5em;
	text-align: center;
}

nav ul li a {
	text-decoration: none;
	color: inherit;
	text-transform: uppercase;
	font-weight: 600;
}



.button {
	font-weight: 100;
	background: white;
	color: #3881a7;
	width: 160px;
	box-shadow: none;
	padding: 8px 14px;
	border-radius: 3px;
	float: right;
};
.button:hover {
	box-shadow: inset rgba(0,0,0,0.02) 0 0 1000px 1000px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
a:hover {
	text-decoration: underline;
	font-weight: 700;
}

#centered {
	position: relative;
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	overflow: hidden;
	background: #3881a7;
	box-shadow: rgba(0,0,0,1) 0 0 5px;
}

.background img {
	position: absolute;
	z-index: -1;
	width: 100%;
}

footer {
	background: #f6891f;
	margin: 0;
	padding: 0.5em 0 ;
	position: relative;
	box-shadow: rgba(0,0,0,0.3) 0 0 5px 5px;
}

.about {
	position: relative;
	z-index: 3;
	width: 100%;
	padding: 3em 0;
}
.about p {
	font-style: italic;
	font-size: 1.2em;
	font-weight: 600;
	text-align: justify;
	width: 90%; 
	max-width: 32em;
	margin: 0 auto;
	padding: 0.5em;
}





.logo img {
	width: 25em;
	margin: 5%;
}

.join-us {
	margin: 0 auto;
	width: 80%;
	font-style: italic;
	font-weight: 700;
	font-size: 2em;
	color: #1f6c8f;
	text-align: center;
}
