body {
	position: absolute;
	font-family: open-sans, 'Helvetica', 'Arial', sans-serif;
	font-size: 30px;
	font-weight: 500;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #1F6C8F ;
	color: white;
}

@media (max-width: 1280px) {
	body {
		font-size: 25px;
	}
}

@media (max-width: 1024px) {
	body {
		font-size: 20px;
	}
}

@media (max-width: 700px) {
	body {
		font-size: 15px;
	}
}

@media (max-width: 540px) {
	body {
		font-size: 12px;
	}
}

@media (max-width: 420px) {
	body {
		font-size: 10.5px;
	}
}

@media (max-width: 370px) {
	body {
		font-size: 8.5px;
	}
}

header {
	display: block; 
	height: 11em;
}

nav ul {
	list-style-type: none;
	text-align: right;
	margin: 1em;
}

nav ul li {
	display: inline-block;
	font-size: 1.2em;
	padding: 0.2em 0 0.2em 1.2em;
	text-align: right;
}

nav ul li a {
	text-decoration: none;
	color: #F57B05;
	text-transform: uppercase;
	font-weight: 600;
}



.button {
	font-weight: 100;
	background: white;
	color: #1F6C8F;
	width: 160px;
	box-shadow: none;
	padding: 8px 14px;
	border-radius: 3px;
	float: right;
};
.button:hover {
	box-shadow: inset rgba(0,0,0,0.02) 0 0 1000px 1000px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
nav ul li a:hover {
	text-decoration: underline;
}

#centered {
	position: relative;
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	overflow: hidden;
	background: #1F6C8F;
	box-shadow: rgba(0,0,0,1) 0 0 5px;
}

.background img {
	position: absolute;
	z-index: -1;
	width: 100%;
}

footer {
	background: #F57B05;
	margin: 0;
	padding: 0.5em 0 ;
	position: relative;
	box-shadow: rgba(0,0,0,0.3) 0 0 5px 5px;
}

.about {
	background: #F57B05;
	padding: 0.5em;
	margin: 2em 0;
}






.logo img {
	width: 20em;
	margin: 1em;
}

.join-us {
	margin: 0 auto;
	width: 80%;
	font-style: italic;
	font-weight: 700;
	font-size: 2em;
	color: #1f6c8f;
	text-align: center;
}

div.logo {
	width: 50%;
	float: left; 
}

nav {
	width: 50%;
	float: left;
	text-align: right;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	display: inline-block;
	background: none;
	color: #F57B05;
	font: inherit;
	margin: 0 1em;
	padding: 0.2em 0.5em;
	border: solid #F57B05 0.13em;
	border-radius:1em;
	text-transform: uppercase;
	font-size: 1.2em;
	font-weight: 600;
}

button:hover {
	background: #F57B05;
	color: gray;
}



.tagline {
	width: 96%;
	margin: 0 2%;
}

.tagline p {
	text-align: center;
	font-size: 1.5em;
	font-style: italic;
	font-weight: 700;
	color: #1F6C8F;
}

.about p {
	width: 50%;
	float: left;
	padding: 0 1em;
	box-sizing: border-box;
	text-align: justify;
	hyphens: auto;
}

.hyphenate {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}

.endorsement {
	background: #1F6C8F;
}



.endorser img {
	width: 7em;
	border-radius: 100%;
	border: solid white 0.15em;
}



.center {
	width: 34em;
	margin: 0 auto;
}

.endorser div {
	width: 22em;
	height: 7em;
	box-sizing: border-box;
	padding: 1.5em;
}

.endorsement h1 {
	padding: 1em 0 0.5em 0;
	text-transform: uppercase;
	font-size: 2em;
	font-weight: 300;
}

.endorser p {
	font-size: 0.8em;
	font-style: italic;
	font-weight: 300;
	margin: 0;
}

.endorser h2 {
	font-size: 0.8em;
	font-weight: 600;
	margin: 0;
	margin-bottom: 0.5em;
}

.fl {
	float: left;
	text-align: left;
}

.fr {
	float: right;
	text-align: right;
}

.endorser {
	height: 7em;
}
